@import "../../variable"; 

.themeBlock{
    width: 1240px;
    height: 560px;
    border-radius: $basic_border_radius;
    background: $theme_bg_color;
    margin: 0px auto;
    box-shadow: $basic_box_shadow;
    display: flex;
    position: relative;
    &_tagPage{
      background-color: #f2f2f2;
      border: 1px solid #c7c7c7;
      border-radius: 8px;
      bottom: auto;
      left: -80px;
      position: absolute;
      top: 0;
      width: 62px;
      word-break: break-all;
      border-radius: $basic_border_radius;
      overflow: hidden;
      &_title{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #c7c7c7;
        background-color: $bg_color;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        min-height: 48px;
        min-width: 100%;
        padding: 4px 8px;
        @include transitionSpeed;
        box-sizing: border-box;
        text-align: center;
        &.action{
          background-color: #2185ff;
          color: #fff;
        }
        &:hover{
          background-color: #2185ff;
          color: #fff;
        }
        &:last-child{
          border: none;
        }
      }
  
    }
    &_titleContent{
      width: calc((100% - $carousel_width) / 10 *4);
      // background: #6f723d;
      height: 100%;
      border-radius:$basic_border_radius 0px 0px $basic_border_radius;
      position: relative;
      &_flag{
        position: absolute;
        top: 16px;
        left: 0px;
        background: $basic_flag_color;
        clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
        z-index: 10;
        padding: 12px;
        padding-right: 20px;
        border-radius: 0px 5px 10px 0px;
        text-align: center;
        box-shadow:0 4px 0 rgb(43 43 43 / 10%);
        font-weight:400px;
        color: $basic_flag_textColor;
      }
      &_title{
        color: #fff;
        font-size: 32px;
        font-weight: 700;
        left: 24px;
        position: absolute;
        top: 64px;
        width: 100%;
        z-index: 10;
      }
      &_tags{
        display: flex;
        flex-wrap: wrap;
        padding: 0px 24px 48px;
        position: absolute;
        bottom: 0;
        left: 0;
        .tag{
          padding: 2px 12px;
          background: rgba(255, 255, 255, 0.2);
          color: #fff;
          border-radius: 14px;
          font-size: 14px;
          margin: 5px;
          text-decoration: none;
        }
      }
    }
    &_titleImg{
      width: calc((100% - $carousel_width) / 10 *6);
      background: #cef286;
      height: 100%;
      overflow: hidden;
      img{
        @include imgCover;
      }
    }
    &_carousel{
      width: $carousel_width;
      background: #ffffff;
      border-radius: 0px $basic_border_radius $basic_border_radius 0px;
      padding: 16px 24px 0px;
      box-sizing: border-box;
      .productsDisplay{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height:calc((100% - $basic_carousel_height) - 12px);
        gap:12px 16px;
        box-sizing: border-box;
        overflow: hidden;
        padding-bottom: 50px;
        &_product{
          width: calc((100% / 3) - 12px);
          height: calc(((100% - $basic_carousel_height) / 2));
          box-sizing: border-box;
          text-decoration: none;
          padding:0px 8px;
          &:hover{
            .productsDisplay_product_Img{
              opacity: 0.8;
              @include transitionSpeed;
            }
            .productsDisplay_product_Name{
              color: #2185ff;
              @include transitionSpeed;
            }
          }
          &_Img{
            width: 152px;
            height: 152px;
            margin: 0 auto;
            @include transitionSpeed;
            img{
              @include imgCover;
            }
          }
          &_Name{
            height: 48px;
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
            color: #000;
            word-wrap:break-word;
            @include transitionSpeed;
          }
          &_Price{
            font-family: Montserrat;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            color: #ea1717;
            font-size: 18px;
            font-style: italic;
            font-weight: 700;
          }
        }
      }
    }
  }
  
  .swiper-pagination-fraction{
    color: $basic_swiper_color !important;
    font-size: 18px;
    font-style: italic;
    z-index: 1;
    position: relative;
  }
  .swiper-pagination-current{
    font-weight: 700;
  }
  
  .swiper-button-prev, .swiper-button-next{
    top: auto !important;
    bottom: 0px !important;
    z-index: 99 !important;
    &:hover{
      border: 1px solid $basic_swiper_color;
    }
    &.swiper-button-disabled{
      &::after{
        background: #c1c1c1;
      }
    }
  }
  .swiper-button-next{
    right: 200px !important;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    height: 36px !important;
    margin-top: 0;
    max-width: 36px;
    min-width: 36px;
    cursor: pointer !important;
    @include transitionSpeed;
    // width: 36px;
    &::after{
      content: '' !important;
      background: $basic_swiper_color;
      width: 20px;
      height: 20px;
      clip-path: polygon(25% 10%, 75% 50%, 25% 90%);
    }
  }
  .swiper-button-prev{
    left: 200px !important;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    height: 36px !important;
    margin-top: 0;
    max-width: 36px;
    min-width: 36px;
    @include transitionSpeed;
    width: 36px;
    cursor: pointer;
    &::after{
      content: '' !important;
      background: $basic_swiper_color;
      width: 20px;
      height: 20px;
      clip-path: polygon(65% 10%, 20% 50%, 65% 90%);
    }
  }